name: Integration

on:
  push:
    branches:
    - '**'
    - '!master'
  pull_request:
    branches:
    - '**'
    - '!master'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Lint
      run: dotnet tool install --global dotnet-format && %UserProfile%/.dotnet/tools/dotnet-format --check --exclude *.Tests --verbosity quiet
    - name: Install
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Unit Test
      run: dotnet test --filter Category!=Service --logger trx /p:CollectCoverage=true /p:CoverletOutputFormat=OpenCover
    - name: Report
      run: dotnet tool install --global dotnet-reportgenerator-globaltool && %UserProfile%/.dotnet/tools/reportgenerator \"-reports:**/*.Tests/coverage.opencover.xml\" \"-targetdir:coverage-reports\"
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: Coverage
        path: coverage-reports
